* {
    font-family: inter;
    color: white;
}

body {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url(../assets/fondo.png);
}

#galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}
.iconos span:hover {
    color: #E1991C;
}


a {
    color: white;
 
}

a:hover {
    color: #E1991C;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    ;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.navlink {
    list-style: none;
    display: flex;
    gap: 100px;
    padding-left: 100px;
}

.navlink li a {
    text-decoration: none;
    font-weight: bold;
}

.logo {
    height: 200px;
    position: absolute;
    left: 45%;
}

.iconos {
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 25px;
    gap: 90px;
    padding-right: 40px;

}

h1 {
    padding-left: 50px;
}

.pokemones {
    display: flex;
    align-items: center;
}

.pokem {
    background: linear-gradient(#0000, rgb(27, 78, 27), #1d591d);
    background-size: cover;
    background-position: center;
    padding: 20px;
    width: 250px;
    margin: 20px auto;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    transition: 2s;
}

.pokem img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.pokem:hover {
    transform: scale(1.1);
    transition: 2s;
}

.pokema {
    background: linear-gradient(#0000, #552701, #974502);
    background-size: cover;
    background-position: center;
    padding: 20px;
    width: 250px;
    margin: 20px auto;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    transition: 2s;
}
.pokema:hover {
    transform: scale(1.1);
    transition: 2s;
}

.pokemi {
    background: linear-gradient(#0000, #06293f, #0b3f62);
    background-size: cover;
    background-position: center;
    padding: 20px;
    width: 250px;
    margin: 15px auto;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    transition: 2s;
}

.pokemi:hover {
    transform: scale(1.1);
    transition: 2s;
}

.imagen {
    display: block;
    margin: auto;
    height: 250px;
    width: auto;
}

button {
    font-size: 15px;
    background: transparent;
    border: 1px solid white;
    border-radius: 12px;
    color: white;
    padding: 15px 40px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    text-decoration: none;
}

button:hover {
    color: whitesmoke;
    background-color: rgba(28, 3, 3, 0.13);
}

.favoritos { 
    background-color: rgba(255, 255, 255, 0.168);
    color: #fffffff6;
}

p {
    font-size: 12px;
}